<mat-card class="mx-3 my-3 form">
    <form class="my-3 mx-3" [formGroup]="todoForm">
        <mat-form-field color="primary" *ngIf="!(isEditEnabledAsync | async)" appearance="outline">
        <mat-label>Select task type</mat-label>
        <mat-select [(value)]=selected required>
          <mat-option value=daily>Daily</mat-option>
          <mat-option value=weekly>Weekly</mat-option>
          <mat-option value=monthly>Monthly</mat-option>
        </mat-select>
        </mat-form-field>
         <mat-form-field color="primary" appearance="outline">
           <mat-label>Task description</mat-label>
           <input formControlName="item" matInput placeholder="Write a task description">
           <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Add task</mat-hint>
        </mat-form-field>
        <button *ngIf="!(isEditEnabledAsync | async)" (click)="passTask(item, selected)" mat-raised-button [disabled]="todoForm.invalid" color="primary">Add</button>
        <button *ngIf="isEditEnabledAsync | async" (click)="updateTask()" mat-raised-button [disabled]="todoForm.invalid">Update</button>
    </form>
</mat-card>