<div cdkDropListGroup>
    <div class="row">
        <div *ngFor="let list of this.TaskList | keyvalue" class="col-md-4">
            <div class="example-container">
                <h2 class="head-title">
                    <div>{{list.key}} <span *ngIf="this.TaskList[list.key].length > 0"> - {{
                            this.TaskList[list.key].length }}</span></div>
                    <div class="box">
                        <button mat-icon-button style="color: rgb(24, 110, 22);"
                            (click)="resetAllTasksStatus(list.key)"><mat-icon>restore</mat-icon></button>
                    </div>
                </h2>
                <div cdkDropList [cdkDropListData]="this.TaskList[list.key]" class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" [class.done]="item.done"
                        *ngFor="let item of this.TaskList[list.key]; index as i" cdkDrag
                        [cdkDragDisabled]="(isEditEnabledAsync | async) || item.done"><span
                            class="wrapit">{{item.description}}</span>
                        <div class="box">
                            <button mat-icon-button color="warn"
                                (click)="deleteTask(i, list.key)"><mat-icon>delete</mat-icon></button>
                            <button mat-icon-button color="primary"
                                (click)="onEditTask(i, item.description, list.key)"><mat-icon>edit</mat-icon></button>
                            <button mat-icon-button style="color: rgb(24, 110, 22);"
                                (click)="swapTaskStatus(list.key, i)">
                                <mat-icon *ngIf="!item.done">check_circle</mat-icon>
                                <mat-icon *ngIf="item.done">restore</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>